{% extends "TekkiePlayBundle::layout.html.twig" %}

{% block title "Tekkie - Playground" %}

{% block content_header '' %}

{% block content %}

    <h2>The product details</h2>
{% for product in products %}
    <ul>
        <li><span>Id: </span>{{ product.id }}</li>
        <li><span>Name: </span>{{ product.name }}</li>
        <li><span>Price: </span>{{ product.price }}</li>
        <li><span>Description: </span>{{ product.description }}</li>
    </ul>
{% endfor %}
{% endblock %}
